.custom-input {
    background-color: transparent;
    color: white;
    border: 1px solid #0d7377;
    border-radius: 10px;
    padding: 5px 10px;
}

.button-input{
    background-color: #14ffec;
    padding: 5px 10px;
    margin-top: 25px;
    color: black;
    border-radius: 5px;
}

.box--container{
    margin-top: 25px;
    background-color: #323232;
    color: black;
    border-radius: 10px;
    padding: 10px 25px;
    width: auto;
    height: auto;
}

.box--content{
    display: flex;
    justify-content: center;
    background-color: #0d7377;
    width: auto;
    margin: 5px 10px;
    /* padding: 5px 0; */
    color: white;
    border-radius: 5px;
}
.text--Content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.button--content{
    align-self: center;
    margin: 5px;
    background-color: red;
    color: white;
    border: 1px transparent;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    height: auto;
}

.nothingToDo{
    margin: 20px;
    font-style: italic;
}